<button class="btn" type="button" [routerLink]="['/home']">Back</button>

<div class="forms">
  <div class="template-driven-form">
    <h3> Template Driven Forms</h3>
    <pre>{{ form.value | json }}</pre>
    <form #form="ngForm" (ngSubmit)="submitTemplateForm(form.value)">
      <div class="container">
        <div class="ng-autocomplete">
          <ng-autocomplete #ngAutoComplete
                           [data]="countriesTemplate"
                           name="name"
                           [(ngModel)]="name"
                           [initialValue]=""
                           [placeholder]="placeholder"
                           [searchKeyword]="keyword"
                           historyIdentifier="countriesTemplateList"
                           [historyHeading]="historyHeading"
                           historyListMaxNumber="3"
                           notFoundText="Not found"
                           [itemTemplate]="itemTemplate"
                           [notFoundTemplate]="notFoundTemplate">
          </ng-autocomplete>

          <ng-template #itemTemplate let-item>
            <a [innerHTML]="item"></a>
          </ng-template>

          <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
        </div>
        <button class="btn" type="submit">Submit</button>
      </div>
    </form>
  </div>

  <div class="reactive-form">
    <h3> Reactive Forms</h3>
    <pre>{{ reactiveForm.value | json }}</pre>
    <form autocomplete="off" novalidate [formGroup]="reactiveForm" (ngSubmit)="submitReactiveForm()">
      <div class="container">
        <div class="ng-autocomplete">
          <ng-autocomplete #ngAutoCompleteReactive
                           [data]="countriesReactive"
                           formControlName="name"
                           [initialValue]=""
                           [placeholder]="placeholder"
                           [searchKeyword]="keyword"
                           historyIdentifier="countriesReactiveList"
                           [historyHeading]="historyHeading"
                           historyListMaxNumber="3"
                           notFoundText="Not found"
                           [itemTemplate]="itemTemplateReactive"
                           [notFoundTemplate]="notFoundTemplate">
          </ng-autocomplete>

          <ng-template #itemTemplateReactive let-item>
            <a [innerHTML]="item.name"></a>
          </ng-template>

          <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
        </div>
        <button class="btn" type="submit" [disabled]="reactiveForm.invalid">Submit</button>
      </div>
    </form>
  </div>
</div>
