<button class="btn" type="button" [routerLink]="['/home']">Back</button>

<div class="forms">
  <div class="template-driven-form">
    <h3> Template Driven Forms</h3>
    <pre>{{ form.value | json }}</pre>
    <form #form="ngForm" (ngSubmit)="submitTemplateForm(form.value)">
      <div class="container">
        <div class="ng-autocomplete">
          <ng-autocomplete #ngAutoCompleteStatic
                           [data]="countriesTemplate"
                           name="name"
                           [ngModel]="selected.name"
                           [initialValue]=""
                           [placeHolder]="placeholder"
                           [searchKeyword]="keyword"
                           historyIdentifier="countriesTemplateList"
                           [historyHeading]="historyHeading"
                           historyListMaxNumber="3"
                           notFoundText="Not found"
                           [itemTemplate]="itemTemplateStatic"
                           [notFoundTemplate]="notFoundTemplate">
          </ng-autocomplete>

          <ng-template #itemTemplateStatic let-item>
            <a [innerHTML]="item.name"></a>
          </ng-template>

          <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
        </div>
        <button class="btn" type="submit">Submit</button>
        <button class="btn" type="button" (click)="set()">set</button>
      </div>
    </form>
  </div>

  <!--
    <div class="reactive-form">
      <h3> Reactive Forms</h3>
      <pre>{{ reactiveForm.value | json }}</pre>
      <form autocomplete="off" novalidate [formGroup]="reactiveForm" (ngSubmit)="submitReactiveForm($event)">
        <div class="container">
          <div class="ng-autocomplete">
            <ng-autocomplete #ngAutoCompleteStatic
                             [data]="countriesReactive"
                             formControlName="name"
                             [initialValue]=""
                             [placeHolder]="placeholder"
                             [searchKeyword]="keyword"
                             historyIdentifier="countriesReactiveList"
                             [historyHeading]="historyHeading"
                             historyListMaxNumber="3"
                             notFoundText="Not found"
                             [itemTemplate]="itemTemplateStatic"
                             [notFoundTemplate]="notFoundTemplate">
            </ng-autocomplete>

            <ng-template #itemTemplateStatic let-item>
              <a [innerHTML]="item"></a>
            </ng-template>

            <ng-template #notFoundTemplate let-notFound>
              <div [innerHTML]="notFound"></div>
            </ng-template>
          </div>
          <button class="btn" type="submit" [disabled]="reactiveForm.invalid">Submit</button>
        </div>
      </form>
    </div>
  -->
</div>
