<button class="btn" type="button" [routerLink]="['/forms']">Example with forms</button>

<div class="example">
  <div class="static">
    <h3>Static data</h3>
    <div class="control-buttons">
      <button class="btn" type="button" (click)="openStaticPanel($event)">Open</button>
      <button class="btn" type="button" (click)="closeStaticPanel($event)">Close</button>
      <button class="btn" type="button" (click)="focusStaticPanel($event)">Focus</button>
      <button class="btn" type="button" (click)="clearStatic($event)">Clear</button>
    </div>

    <div class="ng-autocomplete">
      <ng-autocomplete #ngAutoCompleteStatic
                       [data]="countries"
                       [searchKeyword]="keyword"
                       [initialValue]=""
                       [placeHolder]="placeholder"
                       (selected)='selectEvent($event)'
                       (inputChanged)='changeEventStatic($event)'
                       (inputFocused)='focusEventStatic($event)'
                       (inputCleared)='clearEventStatic()'
                       (scrolledToEnd)='scrollToEndStatic()'
                       (opened)="openedStatic()"
                       (closed)="closedStatic()"
                       historyIdentifier="countryList"
                       [historyHeading]="historyHeading"
                       historyListMaxNumber="15"
                       notFoundText="Not found"
                       minQueryLength="1"
                       [itemTemplate]="itemTemplateStatic"
                       [notFoundTemplate]="notFoundTemplate">
      </ng-autocomplete>

      <ng-template #itemTemplateStatic let-item>
        <a [innerHTML]="item"></a>
      </ng-template>

      <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
      </ng-template>
    </div>
  </div>

  <div class="api">
    <h3>API data</h3>
    <div class="control-buttons">
      <button class="btn" type="button" (click)="openApiPanel($event)">Open</button>
      <button class="btn" type="button" (click)="closeApiPanel($event)">Close</button>
      <button class="btn" type="button" (click)="focusApiPanel($event)">Focus</button>
    </div>

    <div class="ng-autocomplete">
      <ng-autocomplete #ngAutoCompleteApi
                       [data]="items"
                       [searchKeyword]="keyword"
                       [placeHolder]="placeholder"
                       (selected)='selectEvent($event)'
                       (inputChanged)='onChangeSearch($event)'
                       (inputFocused)='focusedEventApi($event)'
                       (inputCleared)='clearEventApi()'
                       (scrolledToEnd)='scrollToEndApi()'
                       (opened)="openedEventApi()"
                       (closed)="closedEventApi()"
                       historyIdentifier="reposList"
                       [historyHeading]="historyHeading"
                       historyListMaxNumber="5"
                       notFoundText="Not found"
                       [isLoading]="isLoading"
                       minQueryLength="3"
                       debounceTime="700"
                       [itemTemplate]="itemTemplateApi"
                       [notFoundTemplate]="notFoundTemplate">
      </ng-autocomplete>

      <ng-template #itemTemplateApi let-item>
        <a [innerHTML]="item.name"></a>
      </ng-template>

      <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
      </ng-template>
    </div>
  </div>
</div>
