.example {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  .control-buttons {
    display: flex;
    margin-bottom: 20px;
    .btn {
      background-color: #3f51b5;
      border: none;
      color: white;
      padding: 8px 22px;
      margin: 5px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 12px;
      cursor: pointer;
      outline: none;
    }
  }
}

.custom-filters {
  display: flex;
  justify-content: space-around;
}
